.box {
    border: 2px dashed red;
}

.text {
    border: 2px dashed blueviolet;
    padding: 20px 30px;
    background-color: darkcyan;
    margin: 30px;
}

/* ems and rems
/* view width and height
/* percentages