body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: lavenderblush;
}


.heading {
    padding: .5em;
    width: 100%;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    position: sticky;
    text-align: center;
    z-index: 1000;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    height: 100px;
}
img {
    height: 120px;
    width: 120px;
}

#logo {
    height: 120px;
    width: 120px;
    position: relative;
    right: 10%;
}

.abtbtn {
    padding: 16px;
    background-color: pink;
    font-size: 16px;
}
.buttonintro {
    position: relative;
    display: inline-block;
}

.intro {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.intro a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 200px;
  }


.intro a:hover {
    background-color: #ddd;
}

.buttonintro:hover .intro {
    display: block;
}
  
/**.buttonintro:hover .abtbtn {
    background-color: #3e8e41;
}**/

#name {
    font-size: 150%;
    font-weight: lighter;
    text-align: left;
    width: 200px;
    justify-content: center;

}

.content-box {
    background-color: beige;
    flex-direction: column;
    /**justify-content: center;**/
    align-items: flex-start;
    display: grid;
    grid-template-areas: 'p';
    position: relative;
    padding: .5em;
    width: 100%;
}

.section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
    width: 100%;
}

.performer {
    position: relative;
    font-weight: bold;
    width: 25%;
}
.date {
    width: 25%;
    flex: auto;
}

.summary {
    position: relative;
    left: 50%;
    text-align: left;
    padding: 1em 0em 1em 0em;
    width: 50%;
    flex-grow: inherit;
    animation: slide-in-anim 1s ease-out forwards;
}

@keyframes slide-in-anim {
    0% {
        opacity: 0;
    }
	75% {
		transform: translateX(-75%);
	}
	100% {
		opacity: 1;
		transform: translateX(-90%);
	}
}
.featured-artist {
    background-color: lavenderblush;
    width: 50%;
    flex-direction: row;
    display: flex;
    padding: 1em 0em 1em 0em;
}
.featured-artist p1 {
    font-weight: bold;
    padding-right: 1em;
}
.featured-artist p {
    margin: 0;
}

.repertoire {
    background-color: pink;
    width: 50%;
}