@font-face {
    font-family: myFont;
    src: url(../js-project/aptos.ttf);
}

body {
    background-color: rgb(200, 207, 236);
    font-family: myFont;
}

h1 {
    font-family: myFont;
    text-align: center;
}

.heading {
    padding: .5em;
    width: 100%;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    position: relative;
    text-align: center;
    z-index: 1000;
    flex-direction: row;
    align-items: center; /* Changed from align-items: flex-start; */
    display: flex;
    justify-content: space-evenly;
    background: rgb(101, 125, 219);
    border-radius: 2em;
}

.generateButton,
.saveButton,
.submitButton,
.saveAllButton {
    border-radius: 1em;
    margin-top: 10px;
    background-color: rgb(101, 125, 219);
    font-family: myFont;
}

.generator {
    margin: .5em;
    padding: 1em;
}

#savedNumbers {
    margin: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#savedNumberList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(216, 193, 227);
    font-size: 150%;
    justify-content: center;
}

#savedNumberList li {
    display: inline-block;
    margin-right: 2px;
}

.submitButton {
    text-align: center; /* Added for centering text */
    flex: content;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Optional: Add a class to center buttons within a container */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

/* Apply the 'center-container' class to containers that need centering */
.center-button {
    /* Add 'center-container' class to center the button */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
